.mat-card{
    background: #fff;
    color: #000;
    width: 80%;
    margin: 1% auto;
    padding: 2%;
}

.mat-card-title{
    font-size: 2rem;
    text-transform: uppercase;
}

.mat-card-content{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

table {
    width: 80%;
    margin-bottom: 10px;
  }

th, td {
    text-align: left;
    padding: 8px;
}
.tr-title{
    background-color: rgb(190, 190, 190);
    color: black;
  }