<p>listamaterias works!</p>

<!-- Materia (nombre, asignacionTS[Tiempo, Salon], programa, cupo, semestre, Profesores) -->
<!--  -->
<div align="center">
    <h1>LISTA DE MATERIAS</h1>

    <table class="mat-elevation-z8" *ngIf="hayRegistros(); else sin">
        <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Horarios</td>
        <td>Programa</td>
        <td>Cupo</td>
        <td>Semestre</td>
        <td>Profesores</td>
        <td>BORRAR</td>
        <td>VER</td>
      </tr>
      <tr *ngFor="let materia of materias">
        <td> {{ materia.matId }} </td>
        <td> {{ materia.matNombre }} </td>
        <td> {{ materia.matHorarios }} </td>
        <td> {{ materia.matPrograma }} </td>
        <td> {{ materia.matCupo }} </td>
        <td> {{ materia.matSemestre }} </td>
        <td> {{ materia.matProfesores }} </td>
        <td> <button mat-raised-button color="warn" (click)="borrarMateria(materia.matId)"> Borrar </button> </td>
        <td> <button mat-raised-button color="primary" (click)="buscarMateria(materia.matId)"> Seleccionar </button> </td>
      </tr>
    </table>
  
    <ng-template #sin>
      <p>No hay materias registradas.</p>
    </ng-template>
    

    <div>
      <h3> </h3>
      <button mat-raised-button (click)="onNuevaMateria()">Agregar Materia</button>
      <h3>Cuando presione Agregar Materia, se cargen salones y profesores, se muestra formulario para agregar materia: datos, agregar horarios, agregar profesores</h3>
      <h3>agregar horarios y profesores uno a uno</h3>
      <h3>* se carga al dar seleccionar los arrays tambien?</h3>

      <h2>Datos Materia</h2>

      <mat-card class="datos-card">
        <mat-card-header>
          <mat-card-title>Datos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="materia.matNombre" />
            </mat-form-field>
          </p>
          <p><mat-form-field appearance="fill">
            <mat-label>Programa</mat-label>
            <input matInput type="text" [(ngModel)]="materia.matPrograma" />
            </mat-form-field>
          </p>
          <p><mat-form-field appearance="fill">
            <mat-label>Cupo</mat-label>
            <input matInput type="text" [(ngModel)]="materia.matCupo" />
            </mat-form-field>
          </p>
          <p><mat-form-field appearance="fill">
            <mat-label>Semestre</mat-label>
            <input matInput type="text" [(ngModel)]="materia.matSemestre" />
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>
      

      <mat-card class="datos-card">
        <mat-card-header>
          <mat-card-title>Horarios forma: id dia hora materia salon</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="p-datos"><mat-form-field appearance="fill">
            <mat-label>Dia y Hora</mat-label>
            <input matInput type="text" [(ngModel)]="materia.matHorarios" />
            </mat-form-field>
          </p>
          <form>
            <mat-form-field>
              <mat-label>Salón</mat-label>
              <select matNativeControl [(ngModel)]="selectedSalon" name="salon" (change)="capturarS()">
                <!-- <option value="" selected></option> -->
                <option *ngFor="let salon of salonesselect" [value]="salon.value">
                  {{salon.viewValue}}
                </option>
              </select>
            </mat-form-field>
            <!-- <p> Salón seleccionado: {{selectedSalon}} </p> -->
          </form>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>AGREGAR</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="datos-card">
        <mat-card-header>
          <mat-card-title>Profesores: id nombre detalles</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <form>
            <mat-form-field>
              <mat-label>{{materia.matProfesores}}</mat-label>
              <select matNativeControl [(ngModel)]="materia.matProfesores" name="profe" (change)="capturarP()">
                <!--<option value='null' selected>{{materia.matProfesores}}</option>-->
                <option *ngFor="let profe of profesoresselect" [value]="profe.viewValue">
                  {{profe.viewValue}}
                </option>
              </select>
            </mat-form-field>
            <!-- <p> Salón seleccionado: {{selectedSalon}} </p> -->
          </form>
          
          <p class="p-datos"><mat-form-field appearance="fill">
            <mat-label>Profesor</mat-label>
            <input matInput type="text" [(ngModel)]="materia.matProfesores" />
            </mat-form-field>
          </p>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>AGREGAR</button>
        </mat-card-actions>
      </mat-card>



      <p><mat-form-field appearance="fill">
        <mat-label>Detalles</mat-label>
        <textarea matInput></textarea>
      </mat-form-field></p>

      <p> Nombre: <input type="text" [(ngModel)]="materia.matNombre" /> </p>
      <p> Horarios: <input type="text" [(ngModel)]="materia.matHorarios" /> </p>
      <p> Programa: <input type="text" [(ngModel)]="materia.matPrograma" /> </p>
      <p> Cupo: <input type="number" [(ngModel)]="materia.matCupo" /> </p>
      <p> Semestre: <input type="number" [(ngModel)]="materia.matSemestre" /> </p>
      <p> Profesores: <input type="text" [(ngModel)]="materia.matProfesores" /> </p> 
      <p> 
        <button mat-raised-button color="accent" (click)="crearMateria()"> AGREGAR </button> 
        <button mat-raised-button color="primary" (click)="editarMateria()"> MODIFICAR </button> 
      </p>
    </div>
    
</div>

<div>

  <h1>Seleción Profesor y Salones</h1>
 
  <form>
    <mat-form-field>
      <mat-label>Salón</mat-label>
      <select matNativeControl [(ngModel)]="selectedSalon" name="salon" (change)="capturarS()">
        <!-- <option value="" selected></option> -->
        <option *ngFor="let salon of salonesselect" [value]="salon.value">
          {{salon.viewValue}}
        </option>
      </select>
    </mat-form-field>
    <!-- <p> Salón seleccionado: {{selectedSalon}} </p> -->
  </form>
  
  <form>
    <mat-form-field>
      <mat-label>Profesor</mat-label>
      <select matNativeControl [(ngModel)]="selectedProfe" name="profe" (change)="capturarP()">
        <!-- <option value="" selected></option> -->
        <option *ngFor="let profe of profesoresselect" [value]="profe.value">
          {{profe.viewValue}}
        </option>
      </select>
    </mat-form-field>
    <!-- <p> Salón seleccionado: {{selectedSalon}} </p> -->
  </form>
  
  <h2>Salón: {{selectedSalon}} </h2> <h2>Profesor: {{selectedProfe}} </h2>
  
  <div *ngIf="hayprofes(); else nou"> 
    <button mat-raised-button color="accent" (click)="actualizarSalonesyProfes()"> Actualizar </button>

    <ng-template #nou>
    <p>No hay profes</p>
    </ng-template>
  </div>


  
</div>
  