<!-- Materia (nombre, detalles, programa, cupo, semestre, Profesores) -->
<!--  -->
<div align="center">
    <h1>LISTA DE MATERIAS</h1>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <table id="myTable" class="mat-elevation-z8" *ngIf="hayRegistros(); else sinMaterias">
        <tr class="tr-title">
        <td>ID</td>
        <td>Nombre</td>
        <td>Programa</td>
        <td>Cupo</td>
        <td>Semestre</td>
        <td>Profesores</td>
        <td>Detalles</td>
        <td>BORRAR</td>
        <td>VER</td>
      </tr>
      <tr *ngFor="let materia of materias">
        <td> {{ materia.matId }} </td>
        <td> {{ materia.matNombre }} </td>
        <td> {{ materia.matPrograma }} </td>
        <td> {{ materia.matCupo }} </td>
        <td> {{ materia.matSemestre }} </td>
        <td> {{ materia.matProfesores }} </td>
        <td> {{ materia.matDetalles }} </td>
        <td> <button mat-raised-button color="warn" (click)="borrarMateria(materia.matId)"> Borrar </button> </td>
        <td> <button mat-raised-button color="primary" (click)="buscarMateria(materia.matId); this.obtenerHorariosXM(materia.matNombre)"> Seleccionar </button> </td>
      </tr>
    </table>
    <ng-template #sinMaterias>
      <p>No hay materias registradas.</p>
    </ng-template>
<!--
    <table class="mat-elevation-z8" *ngIf="hayRegistrosHorarios(); else sinHorarios">
      <tr>
      <td>ID</td>
      <td>Dia</td>
      <td>Hora</td>
      <td>Materia</td>
      <td>Salon</td>

      <td>BORRAR</td>
      <td>VER</td>
    </tr>
    <tr *ngFor="let horario of horarios">
      <td> {{ horario.hId }} </td>
      <td> {{ horario.hDia }} </td>
      <td> {{ horario.hHora }} </td>
      <td> {{ horario.hMateria }} </td>
      <td> {{ horario.hSalon }} </td>

      <td> <button mat-raised-button color="warn" > Borrar </button> </td>
      <td> <button mat-raised-button color="primary" > Seleccionar </button> </td>
    </tr>
  </table>
  <ng-template #sinHorarios>
    <p>No hay horarios registrados.</p>
  </ng-template>
-->

    <div>
      <h3> </h3>
      <!-- <button mat-raised-button (click)="onNuevaMateria()">Agregar Materia</button> -->
      <div *ngIf="hayprofes(); else nou"> 
        <button mat-raised-button color="accent" (click)="actualizarSalonesyProfes()"> Formulario Materia </button>
        <p> . </p>
      </div>
<ng-template #nou>
      
  <h2>Datos Materia</h2>
  <div class="container">
    <mat-card class="datos-card">
      <mat-card-header>
        <mat-card-title>Datos: </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill" style="width: 500px">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" [(ngModel)]="materia.matNombre" />
          </mat-form-field>
        </p>  
        <p>  
          <mat-form-field appearance="fill" style="width: 250px">
          <mat-label>Programa</mat-label>
          <input matInput type="text" [(ngModel)]="materia.matPrograma" />
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 100px">
            <mat-label>Semestre</mat-label>
            <input matInput type="number" [(ngModel)]="materia.matSemestre" />
          </mat-form-field>
          
          <mat-form-field appearance="fill" style="width: 100px">
            <mat-label>Cupo</mat-label>
            <input matInput type="number" [(ngModel)]="materia.matCupo" />
          </mat-form-field>
        </p>
        <!--
        <mat-form-field appearance="fill" style="width: 500px">
          <mat-label>Detalles</mat-label>
          <input matInput type="text" [(ngModel)]="materia.matDetalles" />
        </mat-form-field> -->

        <p><mat-form-field appearance="fill" style="width: 500px">
            <mat-label>Detalles</mat-label>
            <textarea matInput [(ngModel)]="materia.matDetalles"></textarea>
          </mat-form-field>
        </p>

      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Profesores: </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form>
          <mat-form-field appearance="fill" style="width: 400px">
            <mat-label>{{materia.matProfesores}}</mat-label>
            <mat-select  [(ngModel)]="materia.matProfesores" name="profe" (change)="capturarP()" >
              <!--<option value='null' selected>{{materia.matProfesores}}</option>-->
              <mat-option *ngFor="let profe of profesoresselect" [value]="profe.viewValue">
                {{profe.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <!--
        <p class="p-datos"><mat-form-field appearance="fill">
          <mat-label>Resumen</mat-label>
          <input matInput type="text" [(ngModel)]="materia.matProfesores" />
          </mat-form-field>
          <button mat-raised-button color="link" >Agregar Profesor</button>
        </p> -->
      </mat-card-content>

      <mat-card-header>
        <mat-card-title>Horarios: </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>

        <table class="mat-elevation-z8" *ngIf="hayRegistrosHorariosXM(); else sinHorariosXM">
          <tr class="tr-title">
          <td>ID</td>
          <td>Dia</td>
          <td>Hora</td>
          <td>Materia</td>
          <td>Salon</td>
    
          <td>BORRAR</td>
          <td>VER</td>
        </tr>
        <tr *ngFor="let horarioxm of horariosxm">
          <td> {{ horarioxm.id }} </td>
          <td> {{ horarioxm.dia }} </td>
          <td> {{ horarioxm.hora }} </td>
          <td> {{ horarioxm.materia }} </td>
          <td> {{ horarioxm.salon }} </td>
    
          <td> <button mat-raised-button color="warn" (click)="borrarHorario(horarioxm.id)"> Borrar </button> </td>
          <td> <button mat-raised-button color="primary" > Seleccionar </button> </td>
        </tr>
        </table>

        <ng-template #sinHorariosXM>
        <p>No hay horarios registrados.</p>
        </ng-template>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Día</mat-label>
            <mat-select  [(ngModel)]="selectedDia" name="dia">
              <mat-option *ngFor="let dia of diasselect" [value]="dia.value">
                {{dia.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <mat-select  [(ngModel)]="selectedHora" name="hora">
              <mat-option *ngFor="let hora of horasselect" [value]="hora.value">
                {{hora.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Salón</mat-label>
            <mat-select  [(ngModel)]="selectedSalon" name="salon" (change)="capturarS()">
              <mat-option *ngFor="let salon of salonesselect" [value]="salon.value">
                {{salon.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
          <mat-form-field appearance="fill" style="width: 300px">
            <mat-label>Id Horario</mat-label>
            <input matInput type="text" [(ngModel)]="selectedDia+selectedHora+selectedSalon" />
          </mat-form-field>

        <button mat-raised-button color="link" (click)="verificarHorarioLibre()" >Agregar Horario</button>

        

      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="verificarMateria()">AGREGAR MATERIA</button>
        <button mat-raised-button color="primary" (click)="editarMateria()">MODIFICAR MATERIA</button>
      </mat-card-actions>
    </mat-card>
    <p> . </p>
  </div> 

</ng-template>
      <!--
      <p> Nombre: <input type="text" [(ngModel)]="materia.matNombre" /> </p>
      <p> Detalles: <input type="text" [(ngModel)]="materia.matDetalles" /> </p>
      <p> Programa: <input type="text" [(ngModel)]="materia.matPrograma" /> </p>
      <p> Cupo: <input type="number" [(ngModel)]="materia.matCupo" /> </p>
      <p> Semestre: <input type="number" [(ngModel)]="materia.matSemestre" /> </p>
      <p> Profesores: <input type="text" [(ngModel)]="materia.matProfesores" /> </p> 
      <p> 
        <button mat-raised-button color="accent" (click)="crearMateria()"> AGREGAR </button> 
        <button mat-raised-button color="primary" (click)="editarMateria()"> MODIFICAR </button> 
      </p> -->
    </div>
</div>
