table {
    width: 80%;
    margin-bottom: 5px;
  }

.datos-card {
    max-width: 80%;
    background: rgb(212, 212, 212);
  }

  .container {
    margin-top: 10px;
    justify-content: center;
  };
  
.mat-form-field {
  margin: 5px;
}

p {
  margin: 0px;
}

.mat-form-field{
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  margin-bottom: 5px;
}
