<mat-toolbar color="primary">
    <a routerLink="/" >{{ appName }}</a>
    <span class="fill-remaining-space"></span>
    <a routerLink="/horariosalon" routerLinkActive="active" >
        <button mat-button>Horario x Salon</button>
    </a>
    <a routerLink="/horariodia" routerLinkActive="active" >
        <button mat-button>Horario x Dia</button>
    </a>
    <span class="fill-remaining-space"></span>
    <a routerLink="/listamaterias" routerLinkActive="active" >
        <button mat-button>Materias</button>
    </a>
    <a routerLink="/login" routerLinkActive="active" >
        <button mat-button>Login</button>
    </a>
    <a routerLink="/admin" routerLinkActive="active" >
        <button mat-button>Admin</button>
    </a>
    <a routerLink="/about" routerLinkActive="active" >
        <button mat-button>About</button>
    </a>
</mat-toolbar>