
<div align="center">
    <h1>LISTA DE PROFESORES</h1>

    <table id="myTable" class="mat-elevation-z8" *ngIf="hayRegistros(); else sinProfesores">
        <tr class="tr-title">
            <td>ID</td>
            <td>Nombre</td>
            <td>Detalles</td>
            <td>BORRAR</td>
            <td>VER</td>
        </tr>
        <tr *ngFor="let profesor of profesores">
            <td> {{ profesor.pId }} </td>
            <td> {{ profesor.pNombre }} </td>
            <td> {{ profesor.pDetalles }} </td>
            <td> <button mat-raised-button color="warn" (click)="borrarProfesor(profesor.pId)"> Borrar </button> </td>
            <td> <button mat-raised-button color="primary" (click)="buscarProfesor(profesor.pId)"> Seleccionar </button> </td>
        </tr>
    </table>
    <ng-template #sinProfesores>
      <p>No hay profesores registrados.</p>
    </ng-template>

    <div>
        <h2>Datos Profesor</h2>
        <div class="container">
            <mat-card class="datos-card">
                <!--
                <mat-card-header>
                    <mat-card-title>Datos: </mat-card-title>
                </mat-card-header> -->
                <mat-card-content>
                    <p>
                    <mat-form-field appearance="fill" style="width: 500px">
                    <mat-label>Id</mat-label>
                    <input matInput type="text" [(ngModel)]="profesor.pId" />
                    </mat-form-field>
                    </p>  
                    <p>  
                    <mat-form-field appearance="fill" style="width: 500px">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" [(ngModel)]="profesor.pNombre" />
                    </mat-form-field>
                    </p>
                    <p>
                    <mat-form-field appearance="fill" style="width: 500px">
                    <mat-label>Detalles</mat-label>
                    <textarea matInput [(ngModel)]="profesor.pDetalles"></textarea>
                    </mat-form-field>
                    </p>

                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="crearProfesor()">AGREGAR </button>
                    <button mat-raised-button color="primary" (click)="editarProfesor()">MODIFICAR </button>
                </mat-card-actions>
            </mat-card>
            <p> . </p>
        </div> 
    </div>
</div>
